body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,div,span,table,th,td,form,fieldset,legend,input,textarea,button,select,svg,i {margin:0;padding:0;box-sizing:border-box;}
img,fieldset{border:0}
em,address,i{font-style:normal;}
table{border-collapse:collapse;}
ul li, 
ol li {
  list-style:none;
}
 /* !important is needed sometimes */
 ::-webkit-scrollbar {
  width: 15px !important;
}

/* Track */
::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
 -webkit-border-radius: 10px !important;
 border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
 -webkit-border-radius: 10px !important;
 border-radius: 10px !important;
 background: #41617D !important; 
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important; 

}
::-webkit-scrollbar-thumb:window-inactive {
 background: #41617D !important; 
}
